div{
    height: 200px;
    width: 200px;
    background-color: aqua;

}
/* question 1 */
@media (max-width: 300px){
    div{
        background-color: green;
    }
}
/* question 2 */
@media (min-width: 300px)and(max-width: 400px){
    div{
        background-color: pink;
    }
}
/* question 3 */
@media (min-width: 400px) and (max-width: 600px){
    div{
        background-color: red;
    }
}
/* question 4 */
@media  (min-width: 600px){
    div{
        background-color: blue;
    }
} 
div:hover {
    background-color:pink ;
    color: white;

}