/* body{
    background-color: rgb(22, 223, 223);
}
h1{
    color: green;
}
nav{
    position: relative;
    text-decoration: none;
    background-color: rgb(207, 191, 191);
    border-radius: 1%;
    border: 10px;
    margin: auto;
    padding: 5px;
    color: rgb(21, 22, 22);
} */
/* #box{
    background-color: blue;

}

.heading{
    color: red;
}

#button1{
    background-color: green;
} */